<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Cinema</title>
     <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1 id="welcome">Welcome to Express Cinema</h1>
    <p>Beyond entertainment, it's an experience!</p>
    <a href="/movies" class="btn">Check the movies!</a>
    
</body>

</html>