<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Movies</title>
</head>
<body>
    <h1 id="avail">Available Movies</h1>

    <ul id="movielist">
        {{#each movies}}
        <li id="mlist">
            <h3>{{this.title}}</h3>
            <img src="{{this.image}}" alt="{{this.title}}">
            <a href="/movies/{{this._id}}" class="button">See more</a>

        </li>

        {{/each}}
        
    </ul>

    <a href="/">Back to Home</a>
    
</body>
</html>

