body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/cinema.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -1; 
}



#welcome {
  display: flex;
  justify-content:end;
  align-items: center;
  margin-top: 40%;
  color: rgb(191, 195, 198);
}

p, a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(191, 195, 198);
}

a {
  color: #00B7FF;
}



#avail{
  text-align:center;
  margin-bottom: 5%;
  font-family: 'Arial', sans-serif;
  font-size: 250%;
  text-shadow: #0078d0;
  color: antiquewhite;


}



#movielist {
  display:flex;
  flex-wrap: wrap;
  font-family: 'Arial', sans-serif;
  font-size: 100%;
  color: azure;
  padding: 0;
  text-align: center;
  list-style-type: none;

}



#mlist {
  width: 25%;
  box-sizing: border-box;
  margin-bottom: 5%;
}