body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/cinema.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -1; 
}



#welcome , #movieinfo{
  font: 54px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 20%;
  margin-left: 30%;
  color: rgb(191, 195, 198);
}


#movieinfo{
  margin-top: 5%;
}



p, #check{
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(191, 195, 198);
  margin-left: 30%;
}

#check {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #00B7FF;
  justify-content: center;

}



a {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #00B7FF;
  justify-content: center;
}



#avail{
  text-align:center;
  margin-bottom: 5%;
  font-family: 'Arial', sans-serif;
  font-size: 250%;
  text-shadow: #0078d0;
  color: antiquewhite;


}



#movielist {
  display:flex;
  flex-wrap: wrap;
  font-family: 'Arial', sans-serif;
  font-size: 100%;
  color: azure;
  padding: 0;
  text-align: center;
  list-style-type: none;

}



#mlist {
  text-align: center;
  width: 25%;
  box-sizing: border-box;
  margin-bottom: 5%;
}

#minfo {
  display: block;
  margin: 0 60%;
  max-width: 100%;
  transform: scale(1.2);
}

ul {
  color: antiquewhite;
  list-style-type: none;
  display:flex;
  flex-wrap: wrap;
}

#stars{
  margin-right: 5%;
  margin-left: 49%;
  font-size: medium;

}

#times li {
  display:inline-block;
  margin-right: 20px;
  margin-left: 62%;
  padding: 0;
  font-size: medium;
}



#footer2 {
  margin-bottom: 10%;
}